<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yiwejeje.staticrecallapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- HOME SCREEN -->
        <activity
            android:name=".Activity.HomeScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SEARCH SCREENS -->

        <!-- EXPANDABLE LIST VIEW -->
        <activity
            android:name=".Activity.SearchViewActivity"
            android:parentActivityName=".Activity.HomeScreenActivity"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.HomeScreenActivity" />
        </activity>

        <!-- CLASSIC LIST VIEW -->
        <activity
            android:name=".Activity.ListViewSearchActivity"
            android:parentActivityName=".Activity.HomeScreenActivity"
            android:label="@string/title_activity_listview_search"
            android:theme="@style/AppTheme2"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.HomeScreenActivity" />
        </activity>

        <!-- STORE LOCATION ACTIVITY -->
        <activity
            android:name=".Activity.StoreLocationActivity"
            android:label="@string/title_activity_store_location"
            android:parentActivityName=".Activity.HomeScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.HomeScreenActivity" />
        </activity>

        <!-- VIEW ITEM INFORMATION ACTIVITY -->
        <activity
            android:name=".Activity.SearchLocationScreen"
            android:label="@string/title_activity_search_location_screen"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Activity.ListViewSearchActivity" />
        </activity>
    </application>

</manifest>
